site_name: Projen Project Types
repo_url: https://github.com/JumpToTheCloud/projen-project-types

nav:
  - Homepage:
      - index.md
  - Project Types:
      - CDK Library: project-types/cdk-library.md
      - CDK App: project-types/cdk-app.md
      - CDKTF Library: project-types/cdktf-library.md
      - CDK8s Library: project-types/cdk8s-library.md
      - CDK8s App: project-types/cdk8s-app.md
  - Components:
      - CDK8s Component: components/cdk8s.md
      - K3d Component: components/k3d.md
      - Commitzent Component: components/commitzent.md
  - Configuration:
      - Default Configurations: default-configurations.md
theme:
  name: material
  font:
    text: Ubuntu
  palette:
    - scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.sections
    - navigation.top
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - navigation.tabs
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
  custom_dir: docs/overrides

extra:
  version:
    provider: mike
    default: latest

plugins:
  - mike:
      version_selector: true

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - tables
  - toc:
      permalink: true
      toc_depth: 4
